<header id="header">
  <div class="bg-gray-900 text-white flex justify-between p-10">
    <a href="/" class="font-medium p-4 hover:opacity-80 text-4xl">LIAM
      MELKERSSON™</a>
    <ul class="flex flex-row items-center mr-5">
      <li><a href="/projects" class="p-4 hover:line-through font-light">
          Projects
        </a></li>
      <li><a href="/about" class="p-4 hover:line-through font-light">
          About
        </a></li>
      <li><a href="/contact" class="p-4 hover:line-through font-light">
          Contact
        </a></li>
    </ul>
  </div>
</header>