<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liam Melkersson™</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="/svg/portfolio.svg">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/css/input.css" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/media-queries.css">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/ziq6wmx.css" />

    <!-- ICONS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />

    <!-- HAMBURGER MENU -->
<script src="/js/ham-menu.js" defer></script>
  </head>

  <body class="h-screen relative hide-scroll hide-scroll::-webkit-scrollbar">
    {{> background}}
    {{> header}}
    {{{body}}}
    {{> footer}}
  </body>

</html>