<main id="contact" class="px-6 bg-zinc-900 text-white h-full">
  <div class="container flex flex-row justify-between mx-auto py-8">
    <div class="flex flex-col">
      <a href="">liammelkersson@live.se</a>
      <a href="">GitHub</a>
      <a href="">LinkedIn</a>
      <a href="">Instagram</a>
      <a href="/cv">CV</a>
    </div>
    <div>
      <iframe
        class="p-4"
        style="border-radius:12px"
        src="https://open.spotify.com/embed/playlist/4R2dhq54gVLMiRFzhHgEDd?utm_source=generator&theme=0"
        width="500"
        height="750"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>
    </div>
  </div>
</main>