<main id="home" class="h-screen relative">
  {{! <video
    autoplay
    loop
    muted
    class="absolute inset-0 object-cover w-full h-full z-[-1]"
  >
    <source src="vid/background.mp4" type="video/mp4" />
  </video> }}
  <div class="flex flex-col justify-center items-center h-full">
    <h1
      class="text-white header-animation font-medium text-center text-9xl mix-blend-exclusion md-title"
    >
      CREATIVE
      <br />
      DEVELOPER</h1>

    <p
      class="text-white font-light text-xl w-80 text-center mt-5 mix-blend-exclusion md-p"
    >
      I'm Liam, a designer and developer who thrives in striking a balance
      between clean, considered and functional outcomes.
    </p>
  </div>
</main>