<div id="main" class="bg-gray-200 flex flex-col justify-center items-center">
  <div>
    <h1 class="font-light text-3xl mt-4">New Project</h1>
  </div>

  {{#if isLoggedIn}}
    <form action="/project/new" method="post">
      <fieldset>
        <label for="">Project Title:</label>
        <input type="text" name="pTitle" id="pTitle" required="required" />
        <br />
        <textarea
          name="pIntro"
          id="pIntro"
          cols="30"
          rows="10"
          required="required"
          placeholder="Project Intro..."
          class="m-2 rounded-lg p-1"
        ></textarea>
        <br />
        <textarea
          name="pDesc"
          id="pDesc"
          cols="30"
          rows="10"
          required="required"
          placeholder="Project Description..."
          class="m-2 rounded-lg p-1"
        ></textarea>
        <br />
        <label for="">Image URL:</label>
        <input
          type="text"
          name="pImageURL"
          id="pImageURL"
          placeholder="/img/image.png"
          required="required"
          class="m-2 rounded-lg p-1"
        />
        <br />
        <label for="">GitHub URL:</label>
        <input
          type="text"
          name="pGitHubURL"
          id="pGitHubURL"
          placeholder="https://github.com/user/project"
          class="m-2 rounded-lg p-1"
        />
        <br />
        <label for="">Technologies:</label>
        <input
          type="text"
          name="pTech"
          id="pTech"
          placeholder="HTML, CSS, JavaScript..."
          required="required"
          class="m-2 rounded-lg p-1"
        />
        <br />
        <label for="pCat">Category:</label>
        <select
          name="pCat"
          id="pCat"
          required="required"
          class="m-2 rounded-lg p-1"
        >
          <option value="1">Front-end</option>
          <option value="2">Full-stack</option>
          <option value="3">Game dev</option>
          <option value="4">Practice</option>
          <option value="5">App dev</option>
        </select>
        <br />
        <label for="">Creator:</label>
        <input
          type="text"
          name="pUser"
          id="pUser"
          required="required"
          class="m-2 rounded-lg p-1"
        />
      </fieldset>
      <input
        type="submit"
        value="Create Project"
        class="m-2 p-2 ml-20 bg-blue-500 text-white rounded-lg"
      />
    </form>
  {{else}}
    <p>You have to be logged in to add projects...</p>
  {{/if}}
</div>