<main id="projects">
<div class="container mx-auto p-8">
  <!-- Grid container -->
  <div class="flex flex-row">
    <!-- Individual project cards -->
    <!-- Example project card 1 -->
          <div
            class="project blue-box-shadow w-96 h-96 m-5 rounded-3xl bg-zinc-900 border border-solid border-gray-700 hover:bg-zinc-800 hover:border-gray-400 hover:cursor-pointer transition ease-in-out delay-10"
          >
            <img
              src="img/frogger.png"
              alt="Project 1 Image"
              class="w-96 h-48 mx-auto object-cover rounded-t-3xl"
            />
            <h3 class="text-white font-light text-2xl w-80 text-left ml-6 mt-4">
              Frogger Game
            </h3>
            <p class="text-gray-500 text-left ml-6 mt-2 w-80">
              Goal of the project was to gain knowledge within object-oriented
              programming (OOP)
            </p>
            <p class="text-gray-500 text-left ml-6 mt-8 w-80">
              <i class="devicon-html5-plain-wordmark colored"></i>
              HTML
              <i class="devicon-css3-plain-wordmark colored"></i>
              CSS
              <i class="devicon-javascript-plain colored"></i>
              JavaScript
            </p>
          </div>

    <!-- Example project card 2 -->
          <div
            class="project blue-box-shadow w-96 h-96 m-5 rounded-3xl bg-zinc-900 border border-solid border-gray-700 hover:bg-zinc-800 hover:border-gray-400 hover:cursor-pointer transition ease-in-out delay-10"
          >
            <img
              src="img/frogger.png"
              alt="Project 1 Image"
              class="w-96 h-48 mx-auto object-cover rounded-t-3xl"
            />
            <h3 class="text-white font-light text-2xl w-80 text-left ml-6 mt-4">
              Frogger Game
            </h3>
            <p class="text-gray-500 text-left ml-6 mt-2 w-80">
              Goal of the project was to gain knowledge within object-oriented
              programming (OOP)
            </p>
            <p class="text-gray-500 text-left ml-6 mt-8 w-80">
              <i class="devicon-html5-plain-wordmark colored"></i>
              HTML
              <i class="devicon-css3-plain-wordmark colored"></i>
              CSS
              <i class="devicon-javascript-plain colored"></i>
              JavaScript
            </p>
          </div>

  <!-- Example project card 2 -->
          <div
            class="project blue-box-shadow w-96 h-96 m-5 rounded-3xl bg-zinc-900 border border-solid border-gray-700 hover:bg-zinc-800 hover:border-gray-400 hover:cursor-pointer transition ease-in-out delay-10"
          >
            <img
              src="img/frogger.png"
              alt="Project 1 Image"
              class="w-96 h-48 mx-auto object-cover rounded-t-3xl"
            />
            <h3 class="text-white font-light text-2xl w-80 text-left ml-6 mt-4">
              Frogger Game
            </h3>
            <p class="text-gray-500 text-left ml-6 mt-2 w-80">
              Goal of the project was to gain knowledge within object-oriented
              programming (OOP)
            </p>
            <p class="text-gray-500 text-left ml-6 mt-8 w-80">
              <i class="devicon-html5-plain-wordmark colored"></i>
              HTML
              <i class="devicon-css3-plain-wordmark colored"></i>
              CSS
              <i class="devicon-javascript-plain colored"></i>
              JavaScript
            </p>
          </div>
    
    <!-- Add more project cards as needed -->
  </div>
</div>
