/* RESPONSIVENESS WITH MEDIA QUERIES */
@media only screen and (max-width: 800px) {
  /* GENERAL */
  .md-title {
    font-size: 4.25rem;
    line-height: 4.5rem;
  }

  .md-p {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .md-flex-col {
    display: flex;
    flex-direction: column;
  }

  .md-hidden {
    display: none;
  }

  /* mix blend messes up my hamburger menu, 
  so for responsive mode it has to go*/
  .md-remove-mix-blend {
    mix-blend-mode: normal;
  }

  /* HEADER */
  .md-menu-title {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  /* FOOTER */
  .md-pl-4 {
    padding-left: 1rem;
  }

  /* ABOUT  */
  .md-abt-w {
    width: 90vw;
  }

  .md-memoji {
    height: 5rem;
    margin-top: 3rem;
  }

  /* CONTACT */
  .md-w-spotify {
    width: 90vw;
  }

  .md-cntct-w {
    width: 90vw;
  }

  .md-email {
    font-size: 2rem;
  }

  /* PROJECTS PAGE */
  .md-w-proj {
    width: 90vw;
  }

  .md-text-w-proj {
    width: 70vw;
  }

  .md-h-full-proj {
    height: 100%;
  }

  /* SPECIFIC PROJECTS PAGE */
  .md-w-spec-proj {
    width: 90vw;
  }

  .md-text-w-spec-proj {
    width: 70vw;
  }

  .md-m-spec-proj {
    margin: 4rem;
  }

  /* HAMBURGER MENU */
  .off-screen-menu {
    z-index: 2;
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
  }

  .off-screen-menu.active {
    right: 0;
  }

  .ham-menu {
    z-index: 3;
    display: block;
    height: 40px;
    width: 30px;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
  }

  .ham-menu span {
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
